* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: "Barlow", sans-serif;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}
/*FIM CONFIG PADRAO************/

#conteiner {
    margin: auto;
}

.conteiner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

header {
    background-color: #000C20;
}

#conteiner-header {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

nav li {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    padding: 10px 15px;
    transition: .2s;
}

nav a:hover {
    color: #fd5e16;
}

#get {
    background-color: #fd5e16;
    border-radius: 5px;
    text-transform: uppercase;
}

#get:hover {
    background-color: #d04e12;
    color: white;
}
/*FIM HEADER*****************/


#item-1 {
    width: 100%;
    height: 600px;
    background: url(images/carreta.jpeg) no-repeat center;
    background-size: cover;
}

#item-1 > div {
    height: 600px;
    display: flex;
    align-items: center;
    color: white;
}

#content {
    width: 60%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1,  h1 span {
    font-size: 60px;
    line-height: 70px;
    font-family: 'Teko';
}

h1 span {
    color: #fd5e16;
}

#item-1 form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 200px;
    row-gap: 20px;
}

#item-1 input {
    width: 68%;
    min-width: 150px;
    font-size: 16px;
    border-radius: 10px;
    padding: 18px;
    border: none;
}

#item-1 button {
    background-color: #fd5e16;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: "inter", sans-serif;
    letter-spacing: 0.6px;
    padding: 15px;
    width: 26%;
    min-width: 110px;
    height: 58px;
    font-size: 14px;
    transition: .2s;
}

#item-1 button:hover {
    background-color: #d04e12;
}
/*FIM ITEM-2************/

#item-2 {
    width: 100%;
    background-color: #f9f9f9;
}

.conteiner-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.informations {
    display: flex;
    padding: 60px 20px 60px 0;
}

.icon {
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #fd5e16;
}

.informations span {
    font-weight: bold;
    font-size: 20px;
    color: #2c234d;
}
/*FIM ITEM-2*****************/

#item-3 {
    padding-top: 100px;
    width: 100%;
}

.title-item-3 {
    text-align: center;
}

.title-item-3 h3 {
    font-size: 18px;
    color: #fd5e16;
    margin-bottom: 10px;
}

.title-item-3 p {
    font-family: "Teko";
    font-size: 42px;
    color: #2c234d;
    font-weight: 600;
}

.conteiner-cards-item-3 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 50px;
}

.cards-item-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #e1ebf7;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.cards-item-3 a {
    color: black;
    padding: 80px 30px;
    height: 100%;
}

.icon-cards {
    font-size: 40px;
    color: #fd5e16;
}

.cards-item-3 h4 {
    color: #2c234d;
    font-size: 32px;
    font-weight: 700;
}

.cards-item-3:hover * {
    color: white;
    transition: .8s;
}

.cards-item-3:hover {
    background-color: #fd5e16;
    color: white;
    transition: .7s;
}
/*FIM ITEM-3******************/

#item-4 {
    padding-top: 100px;
}

.conteiner-sobre-nos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.sobre-nos {
    width: 100%;
    max-width: 450px;
    text-align: left;
    margin: 0 auto;
}

.sobre-nos h3 {
    color: #fd5e16;
    font-weight: 600;
    padding-bottom: 15px;
}

.sobre-nos p {
    color: #64676c;
    
}

.sobre-nos span {
    line-height: 1.5;
    font-size: 16.2px;
}

.sobre-nos .solutions {
    font-size: 38px;
    color: #2c234d;
    font-weight: 700;
    font-family: "Teko", sans-serif;
}

.box-item-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-item-4 a {
    background-color: #fd5e16;
    padding: 15px 15px;
    width: 38%;
    min-width: 150px;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    transition: .2s;
}

.box-item-4 a:hover {
    background-color: #d04e12;
}

.img-item-4 {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    width: 100%;
    max-width: 450px;
    min-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}

.conteiner-sobre-nos img {
    width: 100%;
    border-radius: 6px;
}
/*FIM ITEM-4************************/

#item-5 {
    background: url(images/img-item-5.jpg) no-repeat center;
    background-origin: left;
    background-position: top;
    background-size: cover;
    background-clip: border-box;
    margin-top: 100px;
}

.conteiner-form-item-5 {
    width: 100%;
    display: flex;
    justify-content: end;

}

.conteiner-form-item-5 > div {
    background-color: #f5f5f5;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    height: 90%;
    margin-top: 80px;
    padding: 30px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.h4-default  {
    color: #fd5e16;
    font-size: 15px;
    margin-bottom: 10px;
}

.orcamento {
    color: #2c234d;
    font-size: 36px;
    font-family: "Teko";
    font-weight: bold;
    line-height: 30px;
}

.conteiner-form-item-5 span {
    display: block;
    color: #64676c;
    font-size: 15px;
    margin: 10px 0 15px 0;
}

.form-item-5 input {
   padding: 15px 10px; 
   border: none;
   border-radius: 6px;
   font-weight: bold;
}

.input-name-email {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.input-city {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.input-details {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.input-services fieldset {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    border-radius: 5px;
}

.input-services fieldset div {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 8px;
}

#btn-item-5 {
    background-color: #fd5e16;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    width: 100%;
    cursor: pointer;
}

#btn-item-5:hover {
    background-color: #d04e12;
    transition: .2s;
}
/*FIM ITEM-5********************/

#item-6 {
    margin-top: 100px;
}

.our-notices {
    text-align: center;
}

.our-notices p {
    color: #2c234d;
    font-size: 36px;
    font-family: "Teko";
    font-weight: bold;
    line-height: 30px;
}

.conteiner-img-item-6 {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 70px;
}

.noticias {
    width: 100%;
    max-width: 307px;
    margin: auto;
}

.noticias img {
    width: 100%;
    margin-top: 10px;
}

.noticias a {
    color: black;
}

.footer-img {
    display: flex;
    padding: 12px 0 ;
}

.day-month {
    background-color: #eeebeb;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    height: 60px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.day-month > p {
    font-size: 12px;
    font-weight: 400;
    color: #1b1b1b;
}

.day-month > p > span {
    color: #fd5e16;
    font-weight: bold;
    font-size: 20px;
}

.caption-img {
    display: flex;
    flex-direction: column;
    color: #717b9b;
    padding: 3px 0 0 18px;
}

.caption-img > div {
    display: flex;
}

.caption-img p {
    font-size: 13px;
}

.caption-img h5 {
    font-size: 21px;
    color: #2c234d;
    font-family: "Teko";
    line-height: 25px;
    padding-top: 10px;
}

.caption-img h5:hover {
    color: #fd5e16;
    transition: .4s;
}
/*FIM ITEM-6***********************/

footer {
    background-color: #121212;
    margin-top: 130px;
    padding-bottom: 70px;
}

.footer-heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 100px 0 50px 0;
    color: white;
    border-bottom: 1px solid #1a2537;
}

.footer-heading p {
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    max-width: 500px;
    padding-right: 20px;
}

.footer-heading span {
    color: #fd5e16;
    font-size: 30px;
    font-weight: 700;
}

.conteiner-footer-end {
    color: white;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
}

.conteiner-footer-end h6 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.conteiner-footer-end ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
    font-weight: 300;
}

.conteiner-footer-end li a {
    color: #868c98;
    transition: .2s;
}

.conteiner-footer-end li a:hover {
    color: #fd5e16;
    margin-left: 3px;
}

.company-openHour {
    display: flex;
    gap: 30px;
    width: 100%;
    max-width: 400px;
    column-gap: 50px;
    margin: 0 auto;
}

.resources-logoFooter {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 400px;
    gap: 30px;
    column-gap: 50px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.resources {
    width: 150px;
}

.logoFooter {
    color: #c4c4c4;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logoFooter img {
    width: 80%;
}

.logoFooter p {
    font-size: 12px;
}

.icon-footer {
    display: flex;
    gap: 15px;
}